@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body {
    text-align: center;
    font-stretch: expanded;
    background-color: #FFEEDB;
    font-family: 'EB Garamond', serif;
}

.heading {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    color: #7A1619;
    background-color: blanchedalmond
}

h2 {
    color: #4D2711;
    background-color: rgb(221, 202, 177);
}

h3 {
    color: #544923;
    text-decoration: underline;
    background-color: rgb(238, 208, 169);
}

p {
    color: black;
}

#pom-pic {
    width: 600px;
    margin: 10px 20px 5px 10px;
    border: 1px;
    padding: 10px 40px 5px 10px;
}

label {
    display: block;
    text-align: center;
    float: inline-start;
    text-decoration: underline;
}

.list {
    display: inline-block;
    text-align: left;
}

button {
    background-color: #544923;
    color: #FFEEDB;
    width: 100px;
    height: 40px;
    border: 1px black;
}