img {
    width: 150px;
}

.radio-img, button {
    cursor: pointer;
}

button {
    margin: 40px;
    width: 100px;
    height: 50px;
    font-size: 12pt;
}

.win-lose-tally {
    padding: 10px;
}

input {
    display: none;
}